<%- include('partials/head') %>


<div class="card text-center mx-5 my-5 shadow">
    <div class="card-header">
        <h1>Patient List</h1>
    </div>

    <div class="card-body">
        <% if(success != "") {%>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <%=success%>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% }%> <% if(error != "") {%>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <%=error%>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% }%>
    </div>
    <% if (typeof foundPatients != 'undefined') { %>
    <table class="table table-hover table-borderless ms-3">
        <thead>
            <tr>
                <th scope="col">Patient Name</th>
                <th scope="col">Patient Email</th>
                <th scope="col">Patient Phone Number</th>
            </tr>
        </thead>
        <% for (let patient of foundPatients) { %>
        <tbody>
            <tr>
                <td><%=patient.name%> </td>
                <td><%= patient.email%></td>
                <td><%= patient.phone_number%></td>
                <td>
                    <form action="/prescriptions/search" method="GET" class="ml-5">
                        <input type="hidden" name="patientName" value="<%=patient.name%>">
                        <input type="hidden" name="patientEmail" value="<%=patient.email%>">
                        <button class="btn btn-primary">View Patient's Prescriptions</button>
                    </form>
                </td>
            </tr>
        </tbody>
        <% } %>
    </table>
    <% } %>
</div>

<%- include('partials/footer') %>