<%- include('partials/head') %>

<div class="card-body">
    <% if(success != "") {%>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <%=success%>
        <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close"
        ></button>
    </div>
    <% }%> <% if(error != "") {%>
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%=error%>
        <button
            type="button"
            class="btn-close"
            data-bs-dismiss="alert"
            aria-label="Close"
        ></button>
    </div>
    <% }%>
</div>
<ul class="list-group">
    <% if (typeof foundPatients != 'undefined') { %> 
        <% for (let patient of foundPatients) { %>
        <li class="list-group-item">
            <div class="d-flex justify-content-center">
                
                <h3>
                    Name: <b><%=patient.name%></b>. 
                    Email: <b><%= patient.email%></b> 
                    Phone Number: <b><%= patient.phone_number%></b>
                </h3>
                
                <form action="/prescriptions/search" method="GET" class="ml-5">
                    <input type="hidden" name="patientName" value="<%=patient.name%>">
                    <input type="hidden" name="patientEmail" value="<%=patient.email%>">    
                    <button class="btn btn-primary">View Patient's Prescriptions</button> 
                </form>
            </div>
        </li>

        <% } %> 
    <% } %>
</ul>

<%- include('partials/footer') %>
