<%- include('partials/head')%>

<div class="card text-center mx-5 my-5 shadow">
    <div class="card-header">
            <% if (user.usr_type == 'doctor') { %>
                <h1>Manage Prescriptions</h1>
            <%} else if (user.usr_type == 'pharmacist') { %>
                <h1>Search Prescriptions</h1>
            <%} %>
    </div>
    <div class="card-body">
        <% if(success != "") {%>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <%=success%>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% }%>
        <% if(error != "") {%>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <%=error%>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% }%>

        <% if (user.usr_type == 'doctor') { %>
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Search Prescription
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <%- include('prescriptionSearchForm')%>
                        <% if (typeof foundPrescriptions != 'undefined') { %>
                        <% for (let prescription of foundPrescriptions) {%>
                        <div>
                            <b>Patient Name: </b><%= prescription.name %>.
                            <b>Patient Email: </b><%= prescription.email %>.
                            <b>Medicine Name: </b><%= prescription.drug_name %>.
                            <b>Medicine Quantity: </b><%= prescription.drug_quantity %>.
                            <b>Medicine Strength: </b><%= prescription.drug_strength %>.
                            <b>Medicine Dosage: </b><%= prescription.dosage %>.
                            <!-- TODO. Make the DELETE button work for the particular patient prescription -->
                            <form
                                action="/prescriptions/delete/<%=userID%>/<%=prescription.p_id%>/<%=prescription.med_id%>"
                                method="POST"><button>DELETE PRESCRIPTION</button></form>
                        </div>
                        <% } %>
                        <% } %>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Issue a Prescription
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <form action="/prescriptions/issue" method="POST">
                            <div class="mb-3">
                                <h2>Fill in Patient's Information</h2>
                                <label for="patientName" class="form-label">Enter Patient's Name Here:</label>
                                <input type="text" id="patientName" name="patientName" placeholder="Patient's Name"
                                    required class="form-control" />
                                <label for="patientEmail" class="form-label">Enter Patient's Email Address Here:</label>
                                <input type="email" id="patientEmail" name="patientEmail" placeholder="Patient's Email"
                                    required class="form-control" />
                                <label for="patientPhoneNumber" class="form-label">Enter Patient's Phone Number
                                    Here:</label>
                                <input type="text" id="patientPhoneNumber" name="patientPhoneNumber"
                                    placeholder="Patient's Phone Number" required class="form-control" />

                                <h2>Fill in Medicine's Information</h2>
                                <label for="medicineLabel" class="form-label">Enter Medicine Label to Prescribe
                                    Here:</label>
                                <input type="text" id="medicineLabel" name="medicineLabel" placeholder="Medicine Label"
                                    required class="form-control" />
                                <label for="medicineQuantity" class="form-label">Enter Medicine Quantity:</label>
                                <input type="number" id="medicineQuantity" name="medicineQuantity"
                                    placeholder="Medicine Quantity" required class="form-control" />
                                <label for="medicineStrength" class="form-label">Enter Medicine Strength:</label>
                                <input type="text" id="medicineStrength" name="medicineStrength"
                                    placeholder="Medicine Strength" required class="form-control" />
                                <label for="medicineDosage" class="form-label">Enter Prescription Dosage:</label>
                                <input type="text" id="medicineDosage" name="medicineDosage"
                                    placeholder="Prescription Dosage" required class="form-control" />
                            </div>
                            <button>Create a prescription</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <%} else if (user.usr_type == 'pharmacist') { %>
            <%- include('prescriptionSearchForm')%>
            <% if (typeof foundPrescriptions != 'undefined') { %>
                <% for (let prescription of foundPrescriptions) {%>
                    <div>
                        <b>Patient Name: </b><%= prescription.name %>.
                        <b>Patient Email: </b><%= prescription.email %>.
                        <b>Medicine Name: </b><%= prescription.drug_name %>.
                        <b>Medicine Strength: </b><%= prescription.drug_strength %>.
                        <b>Medicine Dosage: </b><%= prescription.dosage %>.
                        <b>Medicine Quantity Prescribed: </b><%= prescription.quantity%>.
                        <b>Medicine Quantity: </b><%= prescription.drug_quantity %>.
                        <form
                                action="/fulfill/prescription/<%=userID%>/<%=prescription.p_id%>/<%=prescription.med_id%>"
                                method="POST"><button>Fulfill Prescription</button></form>   
                    </div>
                <% } %>
            <% } %>
        <%}%> 
    </div>
</div>
<%- include('partials/footer')%>