<%- include('partials/head')%>
<div class="card text-center mx-5 my-5 shadow">
    <div class="card-header">
        <h1>Manage Pharmacy Stock</h1>
    </div>
    <div class="card-body">
        <% if(success != "") {%>
        <div class="alert alert-info alert-dismissible fade show" role="alert">
            <%=success%>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% }%>
        <% if(error != "") {%>
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <%=error%>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        <% }%>
        <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        Search Drug
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <form action="/drugs/search" method="GET">
                            <div class="mb-3">
                                <label for="name" class="form-label">Enter Drug Name Here:</label>
                                <input type="text" id="name" name="name" placeholder="Name" required
                                    class="form-control" />
                                <label for="strength" class="form-label">Enter Drug Strength Here:</label>
                                <input type="text" id="strength" name="strength" placeholder="Strength" required
                                    class="form-control" />
                            </div>
                            <button class="btn btn-primary">Search</button>
                            <ul class="list-group">
                                <% if (typeof foundDrugsList != 'undefined') { %>
                                <table class="table table-hover table-borderless">
                                    <thead>
                                        <tr>
                                            <th scope="col">Medicine Name</th>
                                            <th scope="col">Medicine Quantity</th>
                                            <th scope="col">Medicine Strength</th>
                                            <th scope="col">Medicine Cost</th>
                                        </tr>
                                    </thead>
                                    <% for (let drug of foundDrugsList) {%>
                                    <tbody>
                                        <tr>
                                            <td><%= drug.drug_name %> </td>
                                            <td><%= drug.drug_quantity %></td>
                                            <td><%= drug.drug_strength%></td>
                                            <td><%= drug.drug_cost%></td>
                                        </tr>
                                    </tbody>
                                    <% } %>
                                </table>
                                <% } %>
                            </ul>
                        </form>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Add New Drug
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <form action="/drugs/addMed" method="POST">
                            <div class="mb-3">
                                <label for="name" class="form-label">Enter Drug Name Here:</label>
                                <input type="text" id="name" name="name" placeholder="Name" required
                                    class="form-control" />
                                <label for="strength" class="form-label">Enter Drug Strength Here:</label>
                                <input type="text" id="strength" name="strength" placeholder="Strength" required
                                    class="form-control" />
                                <label for="cost" class="form-label">Enter Drug Cost Here:</label>
                                <input type="text" id="cost" name="cost" placeholder="Cost" required
                                    class="form-control" />
                                <label for="quantity" class="form-label">Enter Drug Quantity Here:</label>
                                <input type="number" id="quantity" name="quantity" placeholder="Quantity" required
                                    class="form-control" />
                            </div>
                            <button class="btn btn-success">Add</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Update Drug Quantity
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <form action="/drugs/update" method="POST">
                            <div class="mb-3">
                                <label for="name" class="form-label">Enter Drug Name Here:</label>
                                <input type="text" id="name" name="name" placeholder="Name" required
                                    class="form-control" />
                                <label for="strength" class="form-label">Enter Drug Strength Here:</label>
                                <input type="text" id="strength" name="strength" placeholder="Strength" required
                                    class="form-control" />
                                <label for="quantity" class="form-label">Enter New Quantity Here:</label>
                                <input type="number" id="quantity" name="quantity" placeholder="New Quantity" required
                                    class="form-control" />
                            </div>
                            <button class="btn btn-primary">Update</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingFour">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Remove Drug
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                    data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <form action="/drugs/delete" method="POST">
                            <div class="mb-3">
                                <label for="name" class="form-label">Enter Drug Name Here:</label>
                                <input type="text" id="name" name="name" placeholder="Name" required
                                    class="form-control" />
                                <label for="strength" class="form-label">Enter Drug Strength Here:</label>
                                <input type="text" id="strength" name="strength" placeholder="Strength" required
                                    class="form-control" />
                            </div>
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h3>Current Inventory:</h3>
    <table class="table table-hover table-borderless">
        <thead>
            <tr>
                <th scope="col">Medicine Name</th>
                <th scope="col">Medicine Strength</th>
                <th scope="col">Medicine Quantity in Stock</th>
            </tr>
        </thead>
        <% if (typeof allDrugs != 'undefined') { %> 
            <% for (let drug of allDrugs) {%>
                <tbody>
                    <tr>
                        <td><%= drug.drug_name %></td>
                        <td><%= drug.drug_strength%></td>
                        <td><%= drug.drug_quantity%></td>
                    </tr>
                </tbody>
            <% } %>
        <% } %>
    </table>
</ul>
</div>

<%- include('partials/footer')%>